<a href="https://colab.research.google.com/github/Auvarmf/BasicMachineLearning/blob/main/PERTEMUAN2_AuvarMahsaFahlevi_2117051027.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pertemuan 2

## Library


*   Install library
*   Deklarasi Library
*   Library bisa disebut sebagai kumpulan kode yang dapat digunakan berulang kali dalam program yang berbeda
*   https://www.geeksforgeeks.org/libraries-in-python

In [21]:
# install library mlxtend
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.8/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.8/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (3.5.3)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.8/dist-packages (from mlxtend) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (23.0)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (4.38.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.8/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.17.1->mlxtend) (2022.7.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.8/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7->matplotlib>=1.5.1->mlxtend) (1.15.0)

In [22]:
import pandas as pd
import numpy as np

# import apriory dari library mlxtend
from mlxtend.frequent_patterns import apriori, association_rules

## Dataset


*   Membuat dataset deklarasi transaksi sebagai dataframe
*   Cek dataset transaksi

In [23]:
# membuat data tabular yang terdiri dari data transaksi
df = pd.DataFrame(
    {
        "ID Transaksi" : pd.Series([1, 2, 3, 4, 5]),
        "Item" : pd.Series([["Susu", "Roti", "Biskuit", "Mentega"], \
                            ["Susu", "Biskuit", "Gula", "Kopi"], \
                            ["Gula", "Kopi", "Susu"], ["Kopi", "Biskuit", "Susu", "Gula"], \
                            ["Mentega", "Roti", "Kopi"]]),
    }
)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID Transaksi  5 non-null      int64
 1   Item          5 non-null      object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [25]:
df

   ID Transaksi                            Item
0             1  [Susu, Roti, Biskuit, Mentega]
1             2     [Susu, Biskuit, Gula, Kopi]
2             3              [Gula, Kopi, Susu]
3             4     [Kopi, Biskuit, Susu, Gula]
4             5           [Mentega, Roti, Kopi]

## Encoding data transaksi

In [26]:
df = df.explode('Item')
df

   ID Transaksi     Item
0             1     Susu
0             1     Roti
0             1  Biskuit
0             1  Mentega
1             2     Susu
1             2  Biskuit
1             2     Gula
1             2     Kopi
2             3     Gula
2             3     Kopi
2             3     Susu
3             4     Kopi
3             4  Biskuit
3             4     Susu
3             4     Gula
4             5  Mentega
4             5     Roti
4             5     Kopi

In [27]:
basket = (df.groupby(["ID Transaksi", "Item"])["Item"].count()\
                                      .unstack().reset_index().fillna(0)\
                                      .set_index("ID Transaksi"))
basket.head()

Item          Biskuit  Gula  Kopi  Mentega  Roti  Susu
ID Transaksi
1                 1.0   0.0   0.0      1.0   1.0   1.0
2                 1.0   1.0   1.0      0.0   0.0   1.0
3                 0.0   1.0   1.0      0.0   0.0   1.0
4                 1.0   1.0   1.0      0.0   0.0   1.0
5                 0.0   0.0   1.0      1.0   1.0   0.0

In [28]:
# @title
df_encode = df.groupby("Item")

## Algoritma Apriori

Eksekusi algoritma apriori menggunkan librari mlxtend dengan fungsi apriori

In [29]:
# set minimmum support 60%
frequent_itemsets = apriori(basket, min_support=0.6, use_colnames=True)

# print(list(frequent_itemsets))
frequent_itemsets

   support            itemsets
0      0.6           (Biskuit)
1      0.6              (Gula)
2      0.8              (Kopi)
3      0.8              (Susu)
4      0.6     (Susu, Biskuit)
5      0.6        (Kopi, Gula)
6      0.6        (Susu, Gula)
7      0.6        (Kopi, Susu)
8      0.6  (Kopi, Susu, Gula)

## Apriori Tahap 2
Perhitungan Confidence

In [30]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
rules[["antecedents", "consequents", "support", "confidence"]]

     antecedents   consequents  support  confidence
0         (Susu)     (Biskuit)      0.6        0.75
1      (Biskuit)        (Susu)      0.6        1.00
2         (Kopi)        (Gula)      0.6        0.75
3         (Gula)        (Kopi)      0.6        1.00
4         (Susu)        (Gula)      0.6        0.75
5         (Gula)        (Susu)      0.6        1.00
6         (Kopi)        (Susu)      0.6        0.75
7         (Susu)        (Kopi)      0.6        0.75
8   (Kopi, Susu)        (Gula)      0.6        1.00
9   (Kopi, Gula)        (Susu)      0.6        1.00
10  (Susu, Gula)        (Kopi)      0.6        1.00
11        (Kopi)  (Susu, Gula)      0.6        0.75
12        (Susu)  (Kopi, Gula)      0.6        0.75
13        (Gula)  (Kopi, Susu)      0.6        1.00

## Tugas Tambahan

In [31]:
# nomer 1
# Dengan data yang sama, selesaikan kasus apriori dengan minimum support 40%

# set minimmum support 40%
frequent_itemsets = apriori(basket, min_support=0.4, use_colnames=True)

# print(list(frequent_itemsets))
frequent_itemsets

    support                     itemsets
0       0.6                    (Biskuit)
1       0.6                       (Gula)
2       0.8                       (Kopi)
3       0.4                    (Mentega)
4       0.4                       (Roti)
5       0.8                       (Susu)
6       0.4              (Biskuit, Gula)
7       0.4              (Kopi, Biskuit)
8       0.6              (Susu, Biskuit)
9       0.6                 (Kopi, Gula)
10      0.6                 (Susu, Gula)
11      0.6                 (Kopi, Susu)
12      0.4              (Roti, Mentega)
13      0.4        (Kopi, Biskuit, Gula)
14      0.4        (Susu, Biskuit, Gula)
15      0.4        (Kopi, Susu, Biskuit)
16      0.6           (Kopi, Susu, Gula)
17      0.4  (Kopi, Susu, Biskuit, Gula)

In [32]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.4)
rules[["antecedents", "consequents", "support", "confidence"]]

              antecedents            consequents  support  confidence
0               (Biskuit)                 (Gula)      0.4    0.666667
1                  (Gula)              (Biskuit)      0.4    0.666667
2                  (Kopi)              (Biskuit)      0.4    0.500000
3               (Biskuit)                 (Kopi)      0.4    0.666667
4                  (Susu)              (Biskuit)      0.6    0.750000
5               (Biskuit)                 (Susu)      0.6    1.000000
6                  (Kopi)                 (Gula)      0.6    0.750000
7                  (Gula)                 (Kopi)      0.6    1.000000
8                  (Susu)                 (Gula)      0.6    0.750000
9                  (Gula)                 (Susu)      0.6    1.000000
10                 (Kopi)                 (Susu)      0.6    0.750000
11                 (Susu)                 (Kopi)      0.6    0.750000
12                 (Roti)              (Mentega)      0.4    1.000000
13              (Mentega)                 (Roti)      0.4    1.000000
14        (Kopi, Biskuit)                 (Gula)      0.4    1.000000
15           (Kopi, Gula)              (Biskuit)      0.4    0.666667
16        (Biskuit, Gula)                 (Kopi)      0.4    1.000000
17                 (Kopi)        (Biskuit, Gula)      0.4    0.500000
18              (Biskuit)           (Kopi, Gula)      0.4    0.666667
19                 (Gula)        (Kopi, Biskuit)      0.4    0.666667
20        (Susu, Biskuit)                 (Gula)      0.4    0.666667
21           (Susu, Gula)              (Biskuit)      0.4    0.666667
22        (Biskuit, Gula)                 (Susu)      0.4    1.000000
23                 (Susu)        (Biskuit, Gula)      0.4    0.500000
24              (Biskuit)           (Susu, Gula)      0.4    0.666667
25                 (Gula)        (Susu, Biskuit)      0.4    0.666667
26           (Kopi, Susu)              (Biskuit)      0.4    0.666667
27        (Kopi, Biskuit)                 (Susu)      0.4    1.000000
28        (Susu, Biskuit)                 (Kopi)      0.4    0.666667
29                 (Kopi)        (Susu, Biskuit)      0.4    0.500000
30                 (Susu)        (Kopi, Biskuit)      0.4    0.500000
31              (Biskuit)           (Kopi, Susu)      0.4    0.666667
32           (Kopi, Susu)                 (Gula)      0.6    1.000000
33           (Kopi, Gula)                 (Susu)      0.6    1.000000
34           (Susu, Gula)                 (Kopi)      0.6    1.000000
35                 (Kopi)           (Susu, Gula)      0.6    0.750000
36                 (Susu)           (Kopi, Gula)      0.6    0.750000
37                 (Gula)           (Kopi, Susu)      0.6    1.000000
38  (Kopi, Susu, Biskuit)                 (Gula)      0.4    1.000000
39     (Kopi, Susu, Gula)              (Biskuit)      0.4    0.666667
40  (Kopi, Biskuit, Gula)                 (Susu)      0.4    1.000000
41  (Susu, Biskuit, Gula)                 (Kopi)      0.4    1.000000
42           (Kopi, Susu)        (Biskuit, Gula)      0.4    0.666667
43        (Kopi, Biskuit)           (Susu, Gula)      0.4    1.000000
44           (Kopi, Gula)        (Susu, Biskuit)      0.4    0.666667
45        (Susu, Biskuit)           (Kopi, Gula)      0.4    0.666667
46           (Susu, Gula)        (Kopi, Biskuit)      0.4    0.666667
47        (Biskuit, Gula)           (Kopi, Susu)      0.4    1.000000
48                 (Kopi)  (Susu, Biskuit, Gula)      0.4    0.500000
49                 (Susu)  (Kopi, Biskuit, Gula)      0.4    0.500000
50              (Biskuit)     (Kopi, Susu, Gula)      0.4    0.666667
51                 (Gula)  (Kopi, Susu, Biskuit)      0.4    0.666667

In [33]:
# Dataset transaksi
dataset = [
    ['susu', 'roti', 'biskuit', 'mentega'],
    ['gula', 'kopi', 'roti', 'biskuit'],
    ['susu', 'gula', 'kopi', 'mentega'],
    ['susu', 'kopi', 'biskuit'],
    ['susu', 'gula', 'mentega'],
    ['roti', 'gula', 'kopi', 'mentega'],
    ['susu', 'roti', 'mentega'],
    ['susu', 'roti', 'gula', 'kopi', 'biskuit', 'mentega'],
    ['susu', 'roti', 'gula', 'mentega'],
    ['susu', 'kopi', 'mentega']
]

In [34]:
# Fungsi untuk menghitung itemset kandidat dari itemset sebelumnya
def generate_candidates(prev_itemset, k):
    candidates = []
    n = len(prev_itemset)
    
    for i in range(n):
        for j in range(i+1, n):

            # Mengambil itemset sebelumnya yang memiliki (k-2) item yang sama
            if prev_itemset[i][:k-2] == prev_itemset[j][:k-2]:
              
                # Menggabungkan dua itemset menjadi satu itemset kandidat baru
                candidate = list(set(prev_itemset[i] + prev_itemset[j]))
                candidate.sort()
                
                # Menambahkan itemset kandidat ke dalam list candidates
                if candidate not in candidates:
                    candidates.append(candidate)
    
    return candidates

In [35]:
# Fungsi untuk menghitung support count dari setiap itemset dalam dataset
def get_support_count(itemset, dataset):
    count = 0
    for trans in dataset:
        if set(itemset).issubset(set(trans)):
            count += 1
    return count

In [36]:
# Fungsi untuk menghitung itemset yang memiliki support count >= minimal support
def get_frequent_itemset(itemsets, min_support, dataset):
    frequent_itemset = {}
    for itemset in itemsets:
        support_count = get_support_count(itemset, dataset)
        support = float(support_count) / len(dataset)
        if support >= min_support:
            frequent_itemset[tuple(itemset)] = support
    return frequent_itemset

In [37]:
# Fungsi utama untuk mengeksekusi algoritma Apriori
def apriori(dataset, min_support):
    itemset = [[item] for item in set([item for trans in dataset for item in trans])]
    frequent_itemset = get_frequent_itemset(itemset, min_support, dataset)
    print_frequent_itemset(frequent_itemset)
    
    k = 2
    while len(frequent_itemset) > 0:
        itemset = list(frequent_itemset.keys())
        candidates = generate_candidates(itemset, k)
        frequent_itemset = get_frequent_itemset(candidates, min_support, dataset)
        print_frequent_itemset(frequent_itemset)
        k += 1

# Fungsi untuk menampilkan frequent itemset
def print_frequent_itemset(frequent_itemset):
    for itemset, support in frequent_itemset.items():
        print('{} : {}'.format(list(itemset), round(support, 2)))

In [38]:
# Menjalankan algoritma Apriori dengan minimal support 40%
apriori(dataset, 0.4)

# Masih sulit untuk memahami dan membuat algoritma apriori secara manual

['roti'] : 0.6
['susu'] : 0.8
['mentega'] : 0.8
['biskuit'] : 0.4
['kopi'] : 0.6
['gula'] : 0.6
['roti', 'susu'] : 0.4
['mentega', 'roti'] : 0.5
['gula', 'roti'] : 0.4
['mentega', 'susu'] : 0.7
['kopi', 'susu'] : 0.4
['gula', 'susu'] : 0.4
['kopi', 'mentega'] : 0.4
['gula', 'mentega'] : 0.5
['gula', 'kopi'] : 0.4
['mentega', 'roti', 'susu'] : 0.4
['gula', 'mentega', 'susu'] : 0.4